{% extends 'base.html.twig' %}

{% block title %}Invoice #{{ invoice.id }}{% endblock %}

{% block content %}
    {% include 'toolbar.html.twig' with {
        'deleteForm': deleteForm,
        'urlEdit': url('invoice.edit', {id: invoice.id})
    } %}

    <div>
        <h1 class="display-4">{% trans %}Invoice{% endtrans %} #{{ invoice.id }}</h1>
    </div>

    <div>
        <p><b>{% trans %}Seller{% endtrans %}:</b> <a href="{{ url('company.view', {id: invoice.seller.id}) }}">{{ invoice.seller.name }}</a></p>
        <p><b>{% trans %}Buyer{% endtrans %}:</b> <a href="{{ url('company.view', {id: invoice.buyer.id}) }}">{{ invoice.buyer.name }}</a></p>
        <p><b>{% trans %}Approved by employee{% endtrans %}:</b> {{ invoice.approvedByEmployee.name }}</p>

        <a href="{{ url('invoice.download', {id: invoice.id}) }}">
            <button type="button" class="btn btn-primary" title="{% trans %}Download{% endtrans %}">
                {% trans %}Download{% endtrans %}
            </button>
        </a>
    </div>
{% endblock %}
