{% extends 'base.html.twig' %}

{% block title %}Companies{% endblock %}

{% block body %}
    <a href="{{ url('company.create') }}" class="btn btn-dark ml-auto">Create New</a>
    <div class="container mt-3 mb-4">
        <table class="table table-hover table-sm">
            <tr class="thead-dark">
                <th>Name</th>
                <th>Created At</th>
                <th style="text-align: center;">Actions</th>
            </tr>
            {% for company in companies %}
                <tr>
                    <td>
                        <a href="{{ url('company.view', {id: company.id}) }}">{{ company.fullName }}</a>
                    </td>
                    <td>{{ company.createdAt|date("d/m/Y h:s") }}</td>
                    <td style="text-align: center;">
                        <div>
                            <a href="{{ url('company.edit', {id: company.id}) }}" style="margin: 5px; text-decoration: none;">
                                <button type="button" class="btn btn-secondary" title="Edit">
                                    <span class="octicon octicon-pencil"></span>
                                </button>
                            </a>
                            <form action="{{ url('company.delete', {id: company.id}) }}" method="post" style="margin: 5px; display: inline;">
                                <button type="submit" class="btn btn-danger" title="Delete" onclick="return confirm('Are you sure you want to delete this company?');">
                                    <span class="octicon octicon-trashcan"></span>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
