<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Artprezent</a>
        {% if app.user %}
            <a href="{{ url('invoice.list') }}" class="btn btn-link">{% trans %}Invoices{% endtrans %}</a>
            <a href="{{ url('company.list') }}" class="btn btn-link">{% trans %}Companies{% endtrans %}</a>
            <a href="{{ url('bank.list') }}" class="btn btn-link">{% trans %}Banks{% endtrans %}</a>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ url('companyKind.list') }}" class="btn btn-link">{% trans %}Company kinds{% endtrans %}</a>
                <a href="{{ url('user.list') }}" class="btn btn-link">{% trans %}Users{% endtrans %}</a>
            {% endif %}

            <div class="ml-auto">
                {% if app.request.getLocale() == 'en' %}
                    <a href="{{ path('user.set_locale_ru') }}">RU</a>
                {% else %}
                    <a href="{{ path('user.set_locale_en') }}">EN</a>
                {% endif %}
                <span class="text-white">{{ app.user.username }}</span>

                <a href="{{ path('logout') }}" class="btn btn-light">{% trans %}Logout{% endtrans %}</a>
            </div>
        {% else %}
            {# not logged #}
            <a href="{{ path('login') }}" class="btn btn-light ml-auto">{% trans %}Login{% endtrans %}</a>
        {% endif %}
    </nav>

    <div class="container mt-3 mb-4">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
</body>

<!-- Footer -->
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-1">© {{ "now"|date("Y") }}
        <a href="mailto:klimovedik88@gmail.com"> Eduard Climov</a>
    </div>
</footer>
<!-- Footer -->
</html>
