<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Logo</a>
        {% if app.user %}
            <a href="{{ url('invoice.list') }}" class="btn btn-link">Invoices</a>
            <a href="{{ url('company.list') }}" class="btn btn-link">Companies</a>
            <a href="{{ url('companyKind.list') }}" class="btn btn-link">Company kinds</a>
            <a href="{{ url('bank.list') }}" class="btn btn-link">Banks</a>
            <a href="{{ url('user.list') }}" class="btn btn-link">Users</a>

            <div class="ml-auto">
                <span class="text-white">{{ app.user.username }}</span>
                <a href="{{ path('logout') }}" class="btn btn-light">Logout</a>
            </div>
        {% else %}
            {# not logged #}
            <a href="{{ path('login') }}" class="btn btn-light ml-auto">Login</a>
        {% endif %}
    </nav>

    <div class="container mt-3 mb-4">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
</body>

<!-- Footer -->
<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© {{ "now"|date("Y") }}
        <a href="mailto:klimovedik88@gmail.com"> Eduard Climov</a>
    </div>
</footer>
<!-- Footer -->
</html>
